$main-padding: 20px;

#main {
    padding: $main-padding;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 0.3fr 0.3fr 0.3fr 2.5fr;
  grid-gap: 1px;
  grid-template-areas: "player-1 player-1 player-2 player-2" "start start counter ." "change change . ." "limit-input . . ." ". . . .";
}

.player-2 { grid-area: player-2; }

.counter { grid-area: counter; }

.change { grid-area: change; }

.start { grid-area: start; }

.player-1 { grid-area: player-1; }

.limit-input { grid-area: limit-input; }



.bt {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.stop-bt {
    background-color: #f44336;; /* Red */
}

.change-bt {background-color: #555555;} /* Black */

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

h1 {
    margin-top: 0em;
    margin-bottom: 0em;
}

.turn {
  background-color: #e6ee9c;
}

.p-txt {
  margin-left: 0.3em;
}
